body {
	background-color: #ced4d6;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.good-bg-color {
	background-color: #6bb4b9;
}

.hidden {
	visibility: hidden;
}
